{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
  {% block contact %}
  <section id="contact">
    <div class="header">
      <div class="section-header">
        <h3 class="section-title">Contact</h3>
      </div>



    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-auto">
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
          <div class="form">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group msgbox">
                    <legend class="border-bottom mb-4"></legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info btn-lg" type="submit">Send</button>
                </div>
            </form>
          </div>
        </div>

      </div>

    </div>
    </div>
  </section>

  {% endblock %}
