{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
  {% block contact %}
  <section id="contact">
    <div class="header">
      <div class="section-header">
        <h3 class="section-title">Impressum</h3>
      </div>



    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-auto">
          <div class="siteinfo">
            <p class="font-weight-bold">www.datasciencetutorials.org</p>
            <p>Hans-Mayer-Straße 4</p>
            <p>76726 Germersheim</p>
          </div>

          <div class="sitecontact">
            <p class="font-weight-bold">Contact:</p>
            <p>Telefon: +49 1577/3274025</p>
            <p>Email: omidsoroush@t-online.de</p>
          </div>

          <div class="responsible">
            <p class="font-weight-bold">Legal Information:</p>
            <p>According to German law (§ 3 MDStV and § 3 TDG) we have to name a person, responsible for this site:</p>
            <p>Omid Soroush</p>
          </div>

        </div>

      </div>

    </div>
    </div>
  </section>

  {% endblock %}
