{% extends "blog/base.html" %}
{% load static %}

{% block python %}
  <section id="pythonpage">
    <div class="d-flex" id="wrapper">
      <div class="bg-white border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Data-Engineering Tutorials</div>
          <div class="list-group list-group-flush">
            <ul class="list-unstyled ps-0">

                {% for post in posts %}
                <li class="mb-1 items"><a href="{% url 'dataEngineering:post_list2' slug=post.slug %}" class="btn btn-toggle sidebartitle">{{post.title|truncatechars:25}}</a></li>

                {% endfor %}

              </ul>
          </div>
        </div>

        <div class="div-push"><button class="btn btn-success" id="menu-toggle">Toggle</button></div>
      <div class="col-md-auto content" id="right">
        <div class="date" ><i class="far fa-clock"></i><span style="padding-left:10px">{{ single_posts.created_at|date:"d M Y"}}</span></div>
        <div class="title" align="center">
          <h2><a class="title" href="{% url 'dataEngineering:single-detail' pk=single_posts.pk %}">{{single_posts.title}}</a></h2>
        </div>
        <div id="editor">
          <div class="text">
        <p>{{single_posts.content|safe}}</p>
        </div>
      </div>

      <div class="previous_next_section"></div>
      <div class="row justify-content-between">
          <div class="col-md-auto">
            {% if single_posts.get_previous_by_created_at %}
                     <a href="{% url 'dataEngineering:post_list2' single_posts.get_previous_by_created_at.slug %}">
                       <button class="btn btn-outline-success btn-lg">
                       <span class="previous_next">Previous Post: <br></span>
                        <span class="previous_next_title"><i class="fas fa-chevron-left"></i> {{single_posts.get_previous_by_created_at.title}}</span>
                      </button>
                      </a>
            {% endif %}
          </div>
          <div class="col-md-auto">
            {% if single_posts.get_next_by_created_at %}

                     <a class="" href="{% url 'dataEngineering:post_list2' single_posts.get_next_by_created_at.slug %}">
                       <button class="btn btn-outline-success btn-lg">
                       <span class="previous_next">Next Post: <br></span>
                       <span class="previous_next_title">{{single_posts.get_next_by_created_at.title}} <i class="fas fa-chevron-right"></i></span>
                      </button>
                     </a>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
  </section>


  <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
  <script>
  $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
  </script>
{% endblock %}
