{% extends "blog/base.html" %}
{% load static %}
{% block about %}
<!-- ======= About Section ======= -->
<section id="about">
  <div class="container" data-aos="fade-up">
    <div class="wrapper justify-content-center about-container">

      <div class="col-md-auto" data-aos="fade-left" data-aos-delay="100"><img src="{% static "blog/img/about.png" %}" alt=""></div>


      <div class="col-md-auto content">
        <h2 class="title text-center">About DATA-SCIENCE TUTORIALS</h2>
        <p class="text">
          DATA-SCIENCE TUTORIALS arised out of the idea to help readers learn at their own pace, wherever they are, and how deep they want to dive into the topics covered.
          Sure, there are many websites which cover Data Science topics. But at DATA-SCIENCE TUTORIALS, our focus is to make online-learning efficient through a structured and step-by-step
          coverage of the related topics.
        </p>

        <div class="">
          <div class="icon"><i class="bi bi-bullseye fa-4x center"></i></div>
          <h4 class="title"><a href="">Our Mission</a></h4>
          <p class="description">Data Science and Machine Learning are becoming essential for all Industries across domains, There is a lot of requirement for professionals in this field.
          Our mission is to help and encourage Data Science aspirants with a easily understandable and clear coverage of topics related to this field</p>
        </div>



      </div>

    </div>

  </div>
</section><!-- End About Section -->
{% endblock %}
