<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="icon" type="image/png" href="{% static "blog/img/favicon.png" %}">
  <link href="{% static 'blog/asset/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/navsidebar.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static "blog/sidebars.css" %}">

  <!-- Add the theme's stylesheet -->


  <!-- Theme included stylesheets -->
  <link rel="stylesheet" href="{% static "blog/tinymce/code.css" %}">
  <link rel="stylesheet" href="{% static "blog/tinymce/tinydefault.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/base16/dracula.min.css" integrity="sha512-oDvVpANXrKQ6R5B25VO6DooEQWA7jUXleyD6oUWHChC0fjv8wAANSX7lKXtp5D6HbZ7EUxd0wjMibtpCQ+aCDw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {{ form.media }}


  </head>
<body>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'blog:blog-home' %}"><span class="slanted">DATA-SCIENCE TUTORIALS</a>
    <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#modalLeft" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'blog:blog-home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'blog:blog-about' %}">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'blog:blog-tutorials' %}">Tutorials</a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'sendemail:contact' %}">Contact</a></li>

        {% if user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Post<i style="padding-left:10px" class="fas fa-chevron-down"></i></a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item item" href="{% url 'pytutorial:post_new' %}">Python</a></li>
            <li><a class="dropdown-item" href="{% url 'mlearning:post_new' %}">Machine Learning</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'pytutorial:post_draft_list' %}">Drafts</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Logout</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Login/Signup</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="modal modal-left" id="modalLeft" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="avatar"></div>
			<div class="text">
				<div class="field name"><a><span class=""></span></a>DATA-SCIENCE TUTORIALS</div>
			</div>
      </div>
      <div class="modal-body">
        <ul class="menu">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'blog:blog-home' %}"><i class="bi bi-house-door fa-lg"></i><span style="padding-left:10px">Home</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'blog:blog-about' %}"><i class="bi bi-file-earmark-person fa-lg"></i><span style="padding-left:10px">About</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'blog:blog-tutorials' %}"><i class="fas fa-graduation-cap fa-lg"></i><span style="padding-left:10px">Tutorials</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'sendemail:contact' %}"><i class="far fa-envelope fa-lg"></i><span style="padding-left:10px">Contact</span>
				</a>
			</li>
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-marker fa-lg"></i><span style="padding-left:10px">Tutorials<i style="padding-left:10px" class="fas fa-chevron-down"></i></span>
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{% url 'pytutorial:post_new' %}">Python</a></li>
          <li><a class="dropdown-item" href="#">Machine Learning</a></li>
        </ul>
      </li>
      <li class="nav-item">
				<a class="nav-link" href="{% url 'pytutorial:post_draft_list' %}"><i class="far fa-sticky-note fa-lg"></i><span style="padding-left:10px">Drafts</span>
				</a>
			</li>
      <li class="nav-item">
				<a class="nav-link" href="{% url 'users:logout' %}"><i class="bi bi-box-arrow-right fa-lg"></i><span style="padding-left:10px">Log Out</span>
				</a>
			</li>
      {% else %}
      <li class="nav-item">
				<a class="nav-link" href="{% url 'users:login' %}"><i class="bi bi-box-arrow-in-left fa-lg"></i><span style="padding-left:10px">Login/Signup</span>
				</a>
			</li>
      {% endif %}
		</ul>
      </div>
    </div>
  </div>
</div>


</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>



  {% block home %}{% endblock home %}



  {% block about %}{% endblock about %}

  {% block tutorials %}{% endblock tutorials %}

  {% block python %}{% endblock %}
  {% block createform %}{% endblock %}
  {% block detail %}{% endblock %}
  <main id="main">

    <!-- ======= Contact Section ======= -->
    {% block contact %}{% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col justify-content-center">
            <p class="footeritem"><a href="{% url 'blog:blog-tutorials' %}">Tutorials</a></p>
            <p class="footeritem"><a href="{% url "sendemail:contact" %}">Contact</a></p>

          </div>
          <div class="col justify-content-center">
            <p class="footeritem"><a href="{% url 'blog:blog-about' %}">About</a></p>
            <p class="footeritem"><a href="{% url "sendemail:impressum" %}">Impressum</a></p>

          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="col-md-auto">
        <div class="social-links">

          <a href="##" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="##" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="##" class="linkedin"><i class="bi bi-linkedin"></i></a>

        </div>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "blog/vendor/aos/aos.js" %}"></script>
  <script src="{% static "blog/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "blog/vendor/glightbox/js/glightbox.min.js" %}"></script>
  <script src="{% static "blog/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "blog/vendor/php-email-form/validate.js" %}"></script>
  <script src="{% static "blog/vendor/purecounter/purecounter.js" %}"></script>
  <script src="{% static "blog/vendor/swiper/swiper-bundle.min.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "blog/js/main.js" %}"></script>
  <script src="{% static "blog/sidebars.js" %}"></script>


  <!-- Include the highlight.js library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js" integrity="sha512-MinqHeqca99q5bWxFNQEQpplMBFiUNrEwuuDj2rCSh1DgeeTXUgvgYIHZ1puBS9IKBkdfLMSk/ZWVDasa3Y/2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>$(document).ready(function() {
        $('pre').each(function(i, e) {hljs.highlightBlock(e)});
    });</script>

</body>

</html>
