<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'blog/asset/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">



  <!-- Template Main CSS File -->
  <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static "blog/sidebars.css" %}">

  <!-- Add the theme's stylesheet -->
  <!-- Include your favorite highlight.js stylesheet -->
  {{ form.media }}
  {% include 'django_quill/media.html' %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
  <link href="{% static "blog/django_quill/django_quill.css" %}" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Regna - v4.3.0
  * Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div id="logo">
        <a href="index.html"><img src="{% static "blog/img/logo.png" %}" alt=""></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="index.html">Regna</a></h1>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'blog:blog-home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'blog:blog-about' %}">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'blog:blog-tutorials' %}">Tutorials</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="{% url 'pytutorial:post_new' %}">New Python Post</a></li>
          <li><a class="nav-link scrollto" href="{% url 'pytutorial:post_draft_list' %}">Drafts</a></li>
          <li><a class="nav-link scrollto" href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a class="nav-link scrollto" href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          </div>
  {% block home %}{% endblock home %}



  {% block about %}{% endblock about %}

  {% block tutorials %}{% endblock tutorials %}

  {% block python %}{% endblock %}
  {% block createform %}{% endblock %}
  {% block detail %}{% endblock %}
  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
      </div>


      <div class="container mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p>omidsoroush@t-online.de</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p>+49 157 7327 4025</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "blog/vendor/aos/aos.js" %}"></script>
  <script src="{% static "blog/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "blog/vendor/glightbox/js/glightbox.min.js" %}"></script>
  <script src="{% static "blog/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "blog/vendor/php-email-form/validate.js" %}"></script>
  <script src="{% static "blog/vendor/purecounter/purecounter.js" %}"></script>
  <script src="{% static "blog/vendor/swiper/swiper-bundle.min.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "blog/js/main.js" %}"></script>
  <script src="{% static "blog/sidebars.js" %}"></script>

  <script src="{% static "blog/django_quill/django_quill.js" %}"></script>

  <!-- Include the highlight.js library -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

  <script>
  hljs.configure({   // optionally configure hljs
    languages: ['javascript', 'ruby', 'python']
  });

  var quill = new Quill('#editor', {
    modules: {
      syntax: true,              // Include syntax module
      toolbar: [['code-block']]  // Include button in toolbar
    },
    theme: 'snow'
  });
  </script>


</body>

</html>
