{% extends "blog/base.html" %}
{% block tutorials %}
<!-- ======= Tutorials Section ======= -->
<section id="services">
  <div class="contents">
      <div class="col-sm-6 quarter" data-aos="zoom-in">
        <div class="box">
          <div class="icon"><a href="{% url 'pytutorial:post_list' %}"><i class="fab fa-python"></i></a></div>
          <h4 class="title"><a href="#">Python</a></h4>
          <p class="description">Python is one of the easiest languages to start your programming journey with. However, its simplicity
          does not limit its functional possibilities. Python is one of the most preferred languages among data scientists and software engineers.</p>
        </div>
      </div>
      <div class="col-sm-6 quarter">
        <div class="box">
          <div class="icon"><a href="{% url 'mlearning:post_list' %}"><i class="bi bi-graph-up"></i></a></div>
          <h4 class="title"><a href="#">Machine Learning</a></h4>
          <p class="description">Machine learning (ML) is a type of artificial intelligence (AI) that teaches computers to think in a similar way like humans, which is
          learning and improving based on past experiences. Almost any task, that can be completed with a set of rules, can be automated with Machine learning.
          Machine learning has revolutionized industries like medicine, healthcare, manufacturing, banking
        and more. People with machine learning skills are in high demand in the tech world. Start your machine learning journey right now.</p>
        </div>
      </div>
      <div class="col-sm-6 quarter">
        <div class="box">
          <div class="icon"><a href="{% url 'sql:post_list' %}"><i class="fas fa-database"></i></a></div>
          <h4 class="title"><a href="#">SQL</a></h4>
          <p class="description">SQL is a standard language used to communicate with a relational database. Much of the data in real-world
            lives in databases. A solid knowledge of databases and SQL is necessary for a data scientist to advance his/her career. Our SQL tutorial covers
          everyting you need to know to manage relational databases and perform all sorts of operations on them. Head out to the tutorials now.</p>
        </div>
      </div>
      <div class="col-sm-6 quarter">
        <div class="box">
          <div class="icon"><a href="#"><i class="fab fa-r-project"></i></a></div>
          <h4 class="title"><a href="#">R Programming</a></h4>
          <p class="text-center">Coming Soon</p>
        </div>
      </div>
  </div>
</section><!-- End Tutorials Section -->
{% endblock %}
