{% extends "blog/base.html" %}
{% block tutorials %}
<!-- ======= Tutorials Section ======= -->
<section id="services">
  <div class="contents">
      <div class="col-sm-6 quarter" data-aos="zoom-in">
        <div class="box">
          <div class="icon"><a href="{% url 'pytutorial:post_list' %}"><i class="fab fa-python"></i></a></div>
          <h4 class="title"><a href="#">Python</a></h4>
          <p class="description">Python is one of the easiest langauges to start your programming journey with. However, its simplicity
          does not limit its fuctional possibilities. Python is one of the most preferred languages among data scientists and software engineers.</p>
        </div>
      </div>
      <div class="col-sm-6 quarter">
        <div class="box">
          <div class="icon"><a href="#"><i class="bi bi-graph-up"></i></a></div>
          <h4 class="title"><a href="#">Machine Learning</a></h4>
          <p class="text-center">Coming Soon</p>
        </div>
      </div>
      <div class="col-sm-6 quarter">
        <div class="box">
          <div class="icon"><a href="#"><i class="fab fa-r-project"></i></a></div>
          <h4 class="title"><a href="#">R Programming</a></h4>
          <p class="text-center">Coming Soon</p>
        </div>
      </div>
      <div class="col-sm-6 quarter">
        <div class="box">
          <div class="icon"><a href="#"><i class="fas fa-database"></i></a></div>
          <h4 class="title"><a href="#">SQL</a></h4>
          <p class="text-center">Coming Soon</p>
        </div>
      </div>
  </div>
</section><!-- End Tutorials Section -->
{% endblock %}
