{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block home %}
  <section id='login_logout'>
    <div class="container col-lg-4 col-md-6">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-bottom col-lg-4 col-md-6 form-group">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
  </section>

{% endblock %}
