{% extends "blog/base.html" %}
{% load static %}

{% block detail %}
  <section id="draftdetail">

      <div class="title" align="center">
        <a href="{% url 'mlearning:single-detail' pk=post_contents.pk %}"><h1 class='posttitle loader'>{{ post_contents.title }}</h1></a>
      </div>
            {% if post_contents.published_date %}
                <div class="date postdate">
                    {{ post_contents.published_date|date:"d M Y" }}
                </div>


            {% else %}
            <div class="publish_return_btn">
              <a class="btn btn-outline-dark" href="{% url 'mlearning:post_publish' pk=post_contents.pk %}">Publish</a>
            {% endif %}
              <a class="btn btn-success" href="https://www.datasciencetutorials.org/mltutorials/list/introduction/"><span class="far fa-arrow-alt-circle-left"></span></a>
            </div>
            <div class="">
              <div id="editor">
                  <div class="text">
                    <p>{{post_contents.content|safe}}</p>
                  </div>
              </div>
            </div>


          {% if user.is_superuser %}
            <div class="delet_edit_btn">
              <a class="btn btn-primary btn-lg" href="{% url 'mlearning:post_edit' pk=post_contents.pk %}"><span class="fas fa-pencil-alt"></span></a>
              <a class="btn btn-primary btn-lg" href="{% url 'mlearning:post_remove' pk=post_contents.pk %}"><span class="fa fa-remove"></span></a>

            </div>
          {% endif %}

      </div>
</section>
<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
{% endblock %}
