{% extends "pytutorial/python_home.html" %}
{% block accordion %}
  {% for post in posts %}
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#" href="#{{forloop.counter}}">
          {{post.title}}
      </a>
        </h4>
      </div>
      <div id="{{forloop.counter}}" class="panel-collapse collapse">
        {% for sub in post.contentblocks.all %}
        <div class="panel-body list-group">
          <a href="{% url 'pytutorial:single-subtitle' pk=sub.pk %}" class="list-group-item">
            {{ sub.subtitle }}<span class="pull-right glyphicon glyphicon-menu-right"></span></a>
        </div>
        {% endfor %}

      </div>

    </div>
  {% endfor %}

{% endblock %}








{# <p><a href="{% url 'pytutorial:single-subtitle' pk=post.pk %}">{{post.post.content}}</a></p> #}
