{% extends "pytutorial/python_home.html" %}
{% block title %}
  {% for post in posts %}
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#" href="#{{forloop.counter}}">
          {{post.post.title}}
      </a>
        </h4>
      </div>
      <div id="{{forloop.counter}}" class="panel-collapse collapse">
        <div class="panel-body list-group">
          <a href="{% url 'pytutorial:single-subtitle' pk=post.pk %}" class="list-group-item">
            {{post.post.title}}<span class="pull-right glyphicon glyphicon-menu-right"></span></a>
        </div>
      </div>

    </div>
  {% endfor %}
{% endblock %}



{# <p><a href="{% url 'pytutorial:single-subtitle' pk=post.pk %}">{{post.post.content}}</a></p> #}
