{% extends "pytutorial/python_home.html" %}
{% load static %}

{% block detail %}

  <div class="container">
    <a href="{% url 'pytutorial:single-detail' slug=post_contents.slug %}"><h1 class='posttitle loader'>{{ post_contents.title }}</h1></a>


        {% if post_contents.published_date %}
            <div class="date postdate">
                {{ post_contents.published_date }}
            </div>

        {% else %}
            <a class="btn btn-outline-dark" href="{% url 'pytutorial:post_publish' pk=post_contents.pk %}">Publish</a>
        {% endif %}

          <p class='postcontent'>{{post_contents.content|safe|linebreaksbr}}</p>

      {% if user.is_superuser %}
          <a class="btn btn-primary" href="{% url 'pytutorial:post_edit' pk=post_contents.pk %}"><span class="fa fa-pencil"></span></a>
          <a class="btn btn-primary" href="{% url 'pytutorial:post_remove' pk=post_contents.pk %}"><span class="fa fa-remove"></span></a>
      {% endif %}

  </div>

{% endblock %}









{# <p><a href="{% url 'pytutorial:single-subtitle' pk=post.pk %}">{{post.post.content}}</a></p> #}
