{% extends "blog/base.html" %}
{% load static %}

{% block python %}
  <section id="pythonpage">
    <div class="d-flex" id="wrapper">
      <div class="bg-white border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Python Tutorials</div>
          <div class="list-group list-group-flush">
            <ul class="list-unstyled ps-0">
                {% for post in posts %}
                <li class="mb-1"><a href="{% url 'pytutorial:post_list2' slug=post.slug %}" class="btn btn-toggle">{{post.title}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        <div class="div-push"></div>

      <div class="page-content-wrapper content">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
        <div class="date" ><i class="far fa-clock">  </i><span style="padding-left:10px">{{  single_posts.created_at}}</span></div>
        <div class="title" align="center">
          <h2 style="padding-top:30px"><a href="{% url 'pytutorial:single-detail' pk=single_posts.pk %}">{{single_posts.title}}</a></h2>
        </div>
        <div id="editor">
          <div class="text">
        <p>{{single_posts.content.html|safe}}</p>
        </div>
      </div>
      </div>

    </div>
  </section>

  <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
  <script>
  $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
  </script>
{% endblock %}
