{% extends "blog/base.html" %}
{% load static %}
{% block python %}
{{ block.super }}

    <link href="{% static 'blog/css/syntax_highlighter.css' %}" rel="stylesheet">
    <script src="{% static "blog/syntax_highlighter.js" %}"></script>

   <script src="https://cdn.tiny.cloud/1/hazzt17igtzmz6728dkqqbfgl5tpgrhg31p3nerebe4a0sll/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  <section id="pythonpage">

    <div class="row accordion1">
      <div class="col-lg-3 navigator order-lg-1 order-2">

          {% block accordion %}{% endblock %}
        </div>



      {% block content %}{% endblock %}
    </div>

  </section>



{% endblock %}
